@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Roboto:wght@700&display=swap');

/* ---------- resets default browser styles ----------- */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

/* ---------- body section ----------- */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  transform: translate(-505, -50%);
  margin: 20% auto;
  max-width: 265px;
  text-align: center;
  background: #101116;
  border-radius: 5px;
  border: 5px #000000 solid;

}

input[type="text"] {
  height: 50px;
  width: 250px;
  background-color: #101116;
  text-align: right;
  font-size: 25px;
  letter-spacing: 1px;
  border: 0;
  color: #ffff;
  outline: 2px #90e4e2 solid;
  border-radius: 5px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
  cursor: pointer;
}

button {
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  border: none;
  text-align: center;
} 

/* ---------- spanning 'clear' & '=' buttons on empty spaces ----------- */

#clear {
  display: grid;
  grid-column: 1/2;
}

#equal {
  display: grid;
  grid-column: 2/5;
}

/* ---------- highlighted operator buttons ----------- */

.highlight {
  background-color: #42dc8f;
}